<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>Transcriber</title>
</head>
<body>
    <div id="speechContainer">
        <h1>Upload File</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <input type="submit" value="Transcribe">
        </form>
        {% if transcript!= "" %}
        <div id="speechTranscriptContainer">
            <h1>Transcript</h1>
            <p>{{ transcript }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>